kind: Deployment
apiVersion: apps/v1
metadata:
  name: notes-app-deployment
  namespace: notes-app-namespace
  labels:
    purpose: development

spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-app

  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
        - name: notes-app-pod
	  image: akshatpareek9/notes-app:latest
	  ports:
	    - containerPort: 80
